body main #line {
  width: 157px;
  border: 1px solid #9CAFC3;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 43px;
  opacity: 0.5; }
body main .interactive-search {
  padding: 0 21px;
  text-align: center; }
  body main .interactive-search h2 {
    line-height: 40px;
    font-size: 25px;
    color: #572ee5;
    text-align: center;
    margin-bottom: 38px; }
  body main .interactive-search .box-search {
    display: grid;
    grid-template-columns: 156px 156px;
    grid-row-gap: 25px;
    grid-column-gap: 21px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    body main .interactive-search .box-search .trending {
      width: inherit; }
      body main .interactive-search .box-search .trending .imgGif {
        width: 100%;
        height: 120px; }
  body main .interactive-search #error p {
    color: #50E3C2;
    margin-top: 25px; }
  body main .interactive-search button {
    width: 127px;
    height: 50px;
    border: 1px solid #572ee5;
    border-radius: 25px;
    font-size: 13px;
    color: #572ee5;
    margin: 0 auto;
    margin-top: 78px;
    font-weight: 600px; }
    body main .interactive-search button:hover {
      color: #ffffff;
      background: #572ee5; }
body main .error {
  display: none; }
body main .caja-off {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 10;
  background: #ffffff; }
  body main .caja-off .zoom {
    width: 100%;
    height: 100%;
    padding-top: 15%;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* justify-content: center; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* background-color:rgba(0,0,0,0.70); */ }
    body main .caja-off .zoom .close {
      width: 13.8px;
      height: 14px;
      -ms-flex-item-align: end;
          align-self: flex-end;
      margin-bottom: 74px;
      margin-right: 35px;
      cursor: pointer; }
    body main .caja-off .zoom .zoom-img {
      width: 318px;
      height: 245px; }
    body main .caja-off .zoom .container {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      body main .caja-off .zoom .container .container-text p {
        -ms-flex-item-align: start;
            align-self: flex-start;
        margin-top: 14px;
        margin-left: 35px;
        font-size: 15px; }
      body main .caja-off .zoom .container .container-text h3 {
        -ms-flex-item-align: start;
            align-self: flex-start;
        margin-top: 6px;
        margin-left: 29.5px;
        font-size: 16px; }
      body main .caja-off .zoom .container .container-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 29px;
        padding-top: 17px; }
        body main .caja-off .zoom .container .container-img .img-fav {
          width: 20px;
          height: 18px; }
        body main .caja-off .zoom .container .container-img .box-img-download {
          width: 36px;
          height: 36px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          border: 1px solid #9CAFC3;
          border-radius: 6px;
          margin-left: 29px; }
          body main .caja-off .zoom .container .container-img .box-img-download .img-download {
            width: 19.2px;
            height: 21.1px;
            opacity: .5; }

@media screen and (min-width: 1200px) {
  body main #line {
    margin-top: 74px;
    margin-bottom: 83.9px;
    width: 334px; }
  body main .interactive-search {
    padding: 0 21px;
    padding: 0 156px; }
    body main .interactive-search h2 {
      line-height: 30px;
      font-size: 30px;
      margin-bottom: 109px; }
    body main .interactive-search .box-search {
      grid-template-columns: 260px 260px 260px 260px;
      grid-row-gap: 29px;
      grid-column-gap: 28px; }
      body main .interactive-search .box-search .trending {
        position: relative;
        height: 200px; }
        body main .interactive-search .box-search .trending:hover .searchHov {
          position: absolute;
          width: 260px;
          height: 200px;
          top: 0;
          background-color: #572EE5;
          opacity: .6; }
        body main .interactive-search .box-search .trending:hover .containImg {
          display: block;
          width: 32px;
          height: 32px;
          background-color: #ffffff;
          position: absolute;
          top: 0;
          opacity: .7;
          border-radius: 6px;
          right: 97px;
          margin-top: 10px;
          z-index: 10;
          cursor: pointer; }
          body main .interactive-search .box-search .trending:hover .containImg .boxImg {
            width: 20px;
            height: 18px;
            margin-top: 8.1px;
            cursor: pointer; }
          body main .interactive-search .box-search .trending:hover .containImg:hover {
            opacity: 1; }
        body main .interactive-search .box-search .trending:hover .hov-ls {
          opacity: 1; }
        body main .interactive-search .box-search .trending:hover .containImg2 {
          right: 54px; }
        body main .interactive-search .box-search .trending:hover .containImg3 {
          right: 11px; }
        body main .interactive-search .box-search .trending:hover .text-gif {
          display: block;
          position: absolute;
          bottom: 0;
          left: 18px;
          width: 100%;
          text-align: left;
          margin-bottom: 76px;
          font-size: 15px;
          color: #ffffff; }
        body main .interactive-search .box-search .trending:hover .title-gif {
          display: block;
          position: absolute;
          bottom: 0;
          width: 90%;
          height: 19px;
          text-align: left;
          left: 18.5px;
          margin-bottom: 51px;
          font-size: 16px;
          color: #ffffff; }
        body main .interactive-search .box-search .trending .imgGif {
          height: inherit; }
        body main .interactive-search .box-search .trending .containImg {
          display: none; }
        body main .interactive-search .box-search .trending .text-gif {
          display: none; }
        body main .interactive-search .box-search .trending .title-gif {
          display: none; }
        body main .interactive-search .box-search .trending .searchHovActive {
          position: absolute;
          width: 260px;
          height: 200px;
          top: 0;
          background-color: #572EE5;
          opacity: .6; }
        body main .interactive-search .box-search .trending .containImgActive {
          display: block;
          width: 32px;
          height: 32px;
          background-color: #ffffff;
          position: absolute;
          top: 0;
          opacity: .7;
          border-radius: 6px;
          right: 97px;
          margin-top: 10px;
          z-index: 10;
          cursor: pointer; }
          body main .interactive-search .box-search .trending .containImgActive .imgActive {
            content: url(../images/icon-fav-active.svg);
            margin-top: 8.1px;
            cursor: pointer; }
          body main .interactive-search .box-search .trending .containImgActive:hover {
            opacity: 1; }
        body main .interactive-search .box-search .trending .hov-ls {
          opacity: 1; }
        body main .interactive-search .box-search .trending .containImg2Active {
          right: 54px; }
          body main .interactive-search .box-search .trending .containImg2Active img {
            margin-top: 5.1px; }
        body main .interactive-search .box-search .trending .containImg3Active {
          right: 11px; }
          body main .interactive-search .box-search .trending .containImg3Active img {
            margin-top: 7.1px; }
        body main .interactive-search .box-search .trending .text-gifActive {
          display: block;
          position: absolute;
          bottom: 0;
          left: 18px;
          width: 100%;
          text-align: left;
          margin-bottom: 76px;
          font-size: 15px;
          color: #ffffff; }
        body main .interactive-search .box-search .trending .title-gifActive {
          display: block;
          position: absolute;
          bottom: 0;
          width: 90%;
          height: 19px;
          text-align: left;
          left: 18.5px;
          margin-bottom: 51px;
          font-size: 16px;
          color: #ffffff; }
    body main .interactive-search #error p {
      font-size: 22px; }
    body main .interactive-search button {
      margin-bottom: 62px;
      cursor: pointer; }
  body main .caja-off .zoom {
    padding-top: 66.4px; }
    body main .caja-off .zoom .close {
      width: 15.2px;
      height: 15.2px;
      margin-bottom: 78.4px;
      margin-right: 278.4px; }
    body main .caja-off .zoom .zoom-img {
      width: 695px;
      height: 385px; }
    body main .caja-off .zoom .container .container-text p {
      margin-top: 27px;
      margin-left: 375px; }
    body main .caja-off .zoom .container .container-text h3 {
      margin-left: 375.5px; }
    body main .caja-off .zoom .container .container-img {
      margin-right: 394px;
      padding-top: 22px; } }

/*# sourceMappingURL=app.css.map */