body main #line {
  width: 157px;
  border: 1px solid #9CAFC3;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 43px;
  opacity: 0.5; }
body main .interactive-search {
  padding: 0 21px;
  text-align: center; }
  body main .interactive-search h2 {
    line-height: 40px;
    font-size: 25px;
    color: #572ee5;
    text-align: center;
    margin-bottom: 38px; }
  body main .interactive-search .box-search {
    display: grid;
    grid-template-columns: 156px 156px;
    grid-row-gap: 25px;
    grid-column-gap: 21px; }
    body main .interactive-search .box-search div {
      width: inherit; }
      body main .interactive-search .box-search div .imgGif {
        width: 100%;
        height: 120px; }
  body main .interactive-search #error p {
    color: #50E3C2;
    margin-top: 25px; }
  body main .interactive-search button {
    width: 127px;
    height: 50px;
    border: 1px solid #572ee5;
    border-radius: 25px;
    font-size: 13px;
    color: #572ee5;
    margin: 0 auto;
    margin-top: 78px;
    font-weight: 600px; }
body main .error {
  display: none; }
body main .caja-off {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 10;
  background: #ffffff; }
  body main .caja-off .zoom {
    width: 100%;
    height: 100%;
    padding-top: 15%;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* justify-content: center; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* background-color:rgba(0,0,0,0.70); */ }
    body main .caja-off .zoom .close {
      width: 13.8px;
      height: 14px;
      -ms-flex-item-align: end;
          align-self: flex-end;
      margin-bottom: 74px;
      margin-right: 35px; }
    body main .caja-off .zoom .zoom-img {
      width: 318px;
      height: 245px; }
    body main .caja-off .zoom .container {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      body main .caja-off .zoom .container .container-text p {
        -ms-flex-item-align: start;
            align-self: flex-start;
        margin-top: 14px;
        margin-left: 35px;
        font-size: 15px; }
        body main .caja-off .zoom .container .container-text p::before {
          content: 'Usuario'; }
      body main .caja-off .zoom .container .container-text h3 {
        -ms-flex-item-align: start;
            align-self: flex-start;
        margin-top: 6px;
        margin-left: 29.5px;
        font-size: 16px; }
        body main .caja-off .zoom .container .container-text h3::before {
          content: 'Titulo 2'; }
      body main .caja-off .zoom .container .container-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 29px;
        padding-top: 17px; }
        body main .caja-off .zoom .container .container-img .img-fav {
          width: 20px;
          height: 18px; }
        body main .caja-off .zoom .container .container-img .box-img-download {
          width: 36px;
          height: 36px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          border: 1px solid #9CAFC3;
          border-radius: 6px;
          margin-left: 29px;
          opacity: .5; }
          body main .caja-off .zoom .container .container-img .box-img-download .img-download {
            width: 19.2px;
            height: 21.1px;
            opacity: .5; }

@media screen and (min-width: 1440px) {
  body main .caja-off .zoom {
    padding-top: 66.4px; }
    body main .caja-off .zoom .close {
      width: 15.2px;
      height: 15.2px;
      margin-bottom: 78.4px;
      margin-right: 278.4px; }
    body main .caja-off .zoom .zoom-img {
      width: 695px;
      height: 385px; }
    body main .caja-off .zoom .container .container-text p {
      margin-top: 27px;
      margin-left: 375px; }
    body main .caja-off .zoom .container .container-text h3 {
      margin-left: 375.5px; }
    body main .caja-off .zoom .container .container-img {
      margin-right: 394px;
      padding-top: 22px; } }

/*# sourceMappingURL=app.css.map */