@media screen and (min-width: 1440px) {
  body .camera {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 156px;
    padding-right: 167px; }
    body .camera .container-camera {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      body .camera .container-camera .box-camera {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 90%;
        margin-left: 22px; }
        body .camera .container-camera .box-camera .img-camera svg {
          position: relative;
          top: -15px; }
        body .camera .container-camera .box-camera .container-photo {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          body .camera .container-camera .box-camera .container-photo .box-photo {
            width: 688px;
            height: 390px;
            border: 1px solid #572EE5;
            padding: 0 69px;
            text-align: center; }
            body .camera .container-camera .box-camera .container-photo .box-photo h2 {
              color: #572EE5;
              font-size: 25px;
              line-height: 35px;
              margin-top: 134px;
              margin-bottom: 3px; }
              body .camera .container-camera .box-camera .container-photo .box-photo h2 span {
                color: #50E3C2; }
            body .camera .container-camera .box-camera .container-photo .box-photo p {
              line-height: 28px;
              font-size: 16px; }
            body .camera .container-camera .box-camera .container-photo .box-photo video {
              margin-top: 44px; }
            body .camera .container-camera .box-camera .container-photo .box-photo img {
              margin-top: 44px; }
          body .camera .container-camera .box-camera .container-photo .box-items {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            height: 57px;
            margin-top: 24px; }
            body .camera .container-camera .box-camera .container-photo .box-items .items {
              width: 32px;
              height: 32px;
              border: 1px solid #572EE5;
              border-radius: 50%;
              margin-right: 26px; }
              body .camera .container-camera .box-camera .container-photo .box-items .items p {
                color: #572EE5;
                height: inherit;
                border-radius: 50%;
                text-align: center;
                margin-top: 50%;
                -webkit-transform: translateY(-10px);
                        transform: translateY(-10px); }
          body .camera .container-camera .box-camera .container-photo .text-repeat {
            position: relative;
            width: 131px;
            height: 16px;
            color: #572EE5;
            font-size: 13px;
            left: 558px;
            top: -50px;
            font-weight: bold;
            cursor: pointer; }
      body .camera .container-camera .box-tape {
        height: 88px;
        -ms-flex-item-align: end;
            align-self: flex-end; }
    body .camera .container-interaction {
      text-align: center; }
      body .camera .container-interaction .line-interaction {
        width: 795.9px;
        border: 2.9px solid #572EE5;
        border-radius: 7px;
        margin: 0 auto;
        background: #572EE5; }
      body .camera .container-interaction #btnRecord {
        display: none; }
      body .camera .container-interaction #btnStopRecord {
        display: none; }
      body .camera .container-interaction .btnStyle {
        width: 127px;
        height: 50px;
        background-color: #ffffff;
        color: #572EE5;
        font-size: 13px;
        border: 1px solid #572EE5;
        border-radius: 25px;
        margin-top: 20.1px;
        font-weight: bold;
        cursor: pointer; }
        body .camera .container-interaction .btnStyle:focus {
          outline: none; } }

/*# sourceMappingURL=camera.css.map */