.dark {
  background: #37383C; }
  .dark header {
    border-color: #000000; }
    .dark header .logo a img {
      content: url("../images/logo-mobile-modo-noct.svg"); }
    .dark header nav .menu #checkbox[type="checkbox"]:checked ~ ul {
      background: #000000; }
    .dark header nav .menu span {
      background: #ffffff; }
  .dark main .title h1 {
    color: #ffffff; }
  .dark main .search .inp-search {
    border-color: #ffffff; }
    .dark main .search .inp-search .inp-search-container input {
      background: #37383C; }
    .dark main .search .inp-search .inp-search-container #btnSearch {
      width: 20px;
      height: 24px; }
      .dark main .search .inp-search .inp-search-container #btnSearch #search-img {
        content: url("../images/icon-search-modo-noct.svg"); }
  .dark main .search .inp-search-active .inp-search-container #btnSearch {
    height: 40px;
    border-bottom: 1px solid #9cafc3; }
    .dark main .search .inp-search-active .inp-search-container #btnSearch img {
      content: url("../images/close-modo-noct.svg"); }
  .dark main .search .inp-search-active .list-search {
    position: absolute;
    top: 64px; }
    .dark main .search .inp-search-active .list-search li {
      width: 210px;
      height: 22px;
      color: #9CAFC3;
      font-size: 16px;
      margin-bottom: 10px;
      opacity: .5;
      list-style: none;
      cursor: pointer; }
  .dark main .search .text-search h3 {
    color: #ffffff; }
  .dark main .search .text-search p {
    color: #ffffff;
    font-weight: 300; }
  .dark main .my-gifos h1 {
    color: #ffffff; }
  .dark main .my-gifos button {
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #37383C; }
    .dark main .my-gifos button:hover {
      color: #000000;
      background: #ffffff;
      font-weight: bold; }
  .dark main .gifos {
    background: #222326; }
    .dark main .gifos h2 {
      color: #ffffff; }
    .dark main .gifos p {
      color: #ffffff;
      font-weight: 300; }
  .dark main .interactive-search button {
    border: 1px solid #ffffff;
    color: #ffffff;
    background: #37383C; }
    .dark main .interactive-search button:hover {
      color: #000000;
      background: #ffffff;
      font-weight: bold; }
  .dark main .caja-off {
    background-color: #37383C; }
    .dark main .caja-off .container-text {
      color: #ffffff; }
    .dark main .caja-off .zoom .close {
      content: url(../images/close-modo-noct.svg); }
  .dark footer {
    border-color: #000000; }
    .dark footer .text-one-footer {
      color: #ffffff;
      font-weight: 100; }
    .dark footer .social-networks .social-fb:hover {
      content: url("../images/icon_facebook_noc.svg"); }
    .dark footer .social-networks .social-tt:hover {
      content: url("../images/icon_twitter_noc.svg"); }
    .dark footer .social-networks .social-right {
      margin-right: 0; }
      .dark footer .social-networks .social-right:hover {
        content: url("../images/icon_instagram_noc.svg"); }
    .dark footer .text-two-footer {
      color: #ffffff;
      font-weight: 100; }

@media screen and (min-width: 1200px) {
  .dark header {
    border-color: #000000; }
    .dark header .logo a img {
      content: url("../images/logo-desktop-modo-noc.svg"); }
    .dark header nav .menu ul li a {
      color: #ffffff; }
    .dark header nav .menu ul .list-button .recordBtn {
      border: 1px solid #ffffff; }
      .dark header nav .menu ul .list-button .recordBtn svg g g g circle {
        fill: rgba(255, 0, 0, 0); }
      .dark header nav .menu ul .list-button .recordBtn svg g g g g g {
        fill: #ffffff; }
      .dark header nav .menu ul .list-button .recordBtn svg:hover g g g circle {
        fill: #ffffff; }
      .dark header nav .menu ul .list-button .recordBtn svg:hover g g g g g {
        fill: #000000; }
      .dark header nav .menu ul .list-button .recordBtn:hover {
        border: 1px solid #000000; }
  .dark main .gifos .list-gifos .left-gifos {
    content: url("../images/button-slider-left-md-noct.svg"); }
  .dark main .gifos .list-gifos .rigth-gifos {
    content: url("../images/button-slider-right-md-noct.svg"); }
  .dark main .camera .container-camera .box-camera .img-camera img {
    content: url("../images/camara-modo-noc.svg"); }
  .dark main .camera .container-camera .box-camera .container-photo .box-photo h2 {
    color: #ffffff; }
  .dark main .camera .container-camera .box-camera .container-photo .box-photo p {
    color: #ffffff; }
  .dark main .camera .container-camera .box-tape img {
    content: url("../images/pelicula-modo-noc.svg"); } }

/*# sourceMappingURL=switch.css.map */
