.dark {
    background: #37383C;

    header {
        border-color: #000000;
        // background: #37383C;

        .logo {

            a {

                img {
                    content: url('../images/logo-mobile-modo-noct.svg');
                }
            }
        }

        nav {

            .menu {

                #checkbox {

                    &[type="checkbox"]:checked ~ ul {
                        background: #000000;
                    }
                }

                span {
                    background: #ffffff;
                }

            }
        }
    }

    main {

        .title {
            
            h1 {
                color: #ffffff;
            }
        }

        .search {

            .inp-search {
                border-color: #ffffff;

                .inp-search-container {

                    input {
                        background: #37383C;
                    }
    
                    #btnSearch {
                        width: 20px;
                        height: 24px;

                        #search-img {
                            content: url('../images/icon-search-modo-noct.svg');
                        }
                    }
                }

            }

            .inp-search-active {
                
                .inp-search-container{                    

                    #btnSearch {
                        height: 40px;
                        border-bottom: 1px solid rgb(156, 175, 195);
                        img {
                            content: url('../images/close-modo-noct.svg');
                        }
                    }
                }

                .list-search {
                     position: absolute;
                     top: 64px;

                     li {
                          width: 210px;
                          height: 22px;
                          color: #9CAFC3;
                          font-size: 16px;
                          margin-bottom: 10px;
                          opacity: .5;
                          list-style: none;
                          cursor: pointer;
                     }
                }

            }

            .text-search {
                h3 {
                    color: #ffffff;
                }

                p {
                    color: #ffffff;
                    font-weight: 300;
                }
            }
        }

        .my-gifos {
            
            h1 {
                color: #ffffff;
            }

            button {
                border: 1px solid #ffffff;
                color: #ffffff;
                background: #37383C;
                &:hover {
                    color: #000000;
                    background: #ffffff;
                    font-weight: bold;
                }
            }
        }

        .gifos {
            background: #222326;

            h2 {
                color: #ffffff;
            }

            p {
                color: #ffffff;
                font-weight: 300;
            }
        }

        .interactive-search {

            button {
                border: 1px solid #ffffff;
                color: #ffffff;
                background: #37383C;
                &:hover {
                    color: #000000;
                    background: #ffffff;
                    font-weight: bold;
                }
            }
        }

        .caja-off {
            background-color: #37383C;

            .container-text {
                color: #ffffff;
            }

            .zoom {

                .close {
                    content: url(../images/close-modo-noct.svg);                    
                }
            }
        }
        
    }

    footer {
        border-color: #000000;

        .text-one-footer {
            color: #ffffff;
            font-weight: 100;
        }

        .social-networks {

            .social-fb {

                 &:hover {
                      content: url('../images/icon_facebook_noc.svg');
                 }
            }

            .social-tt {

                 &:hover {
                      content: url('../images/icon_twitter_noc.svg');
                 }
            }

            .social-right {
                 margin-right: 0;
                 &:hover {
                      content: url('../images/icon_instagram_noc.svg');
                 }
            }
       } 

        .text-two-footer {
            color: #ffffff;
            font-weight: 100;
        }
    }
    
}


@media screen and (min-width: 1200px) {
    .dark {
    
        header {
            border-color: #000000;
            // background: #37383C;

            .logo {

                a {

                    img {
                        content: url('../images/logo-desktop-modo-noc.svg');
                    }
                }
            }
    
            nav {
    
                .menu {

                    ul {
                        
                        li {

                            a {
                                color: #ffffff;
                            }
                        }

                        .list-button {

                            .recordBtn {
                                border: 1px solid #ffffff;
                                svg {

                                    g {

                                        g {

                                            g {
                                                circle {
                                                    fill: rgba(255, 0, 0, 0.0);
                                                }

                                                g {
                                                          
                                                    g {
                                                        fill: #ffffff;
                                                    }
                                                }
                                            }

                                        }
                                    }
                                    &:hover {
                                        g {

                                            g {
    
                                                g {
                                                    circle {
                                                        fill: #ffffff;
                                                    }
    
                                                    g {
                                                              
                                                        g {
                                                            fill: #000000;
                                                        }
                                                    }
                                                }
    
                                            }
                                        }
                                    }


                                }
                                &:hover {
                                    border: 1px solid #000000;
                                }
                            }

                        }
                    }
                }
            }
        }
    
        main {
    
            .gifos {

                .list-gifos {

                    .left-gifos {
                        content: url('../images/button-slider-left-md-noct.svg');
                    }

                    .rigth-gifos {
                        content: url('../images/button-slider-right-md-noct.svg');
                    }
                }

            }

            .camera {

                .container-camera {
    
                    .box-camera {
    
                        .img-camera {
    
                            img {
                                content: url('../images/camara-modo-noc.svg');
                            }
                        }

                        .container-photo {

                            .box-photo {
                                
                                h2 {
                                    color: #ffffff;
                                }
                                
                                p {
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                    
                    .box-tape {
    
                        img {
                            content: url('../images/pelicula-modo-noc.svg');
                        }
                    }
                }
            }
        }       
    }
}